{% extends 'layout.html' %}
{% block content %}
  <h2>{{ action }} película</h2>
  <form method="post">
    <label>Título<br><input name="title" value="{{ movie.title if movie else '' }}" required></label><br>
    <label>Género<br><input name="genre" value="{{ movie.genre if movie else '' }}"></label><br>
    <label>Duración (min)<br><input name="duration" type="number" value="{{ movie.duration if movie else '' }}" required></label><br>
    <label>Total asientos<br><input name="seats_total" type="number" value="{{ movie.seats_total if movie else 100 }}"></label><br>
    <label>Descripción<br><textarea name="description">{{ movie.description if movie else '' }}</textarea></label><br>
    <button type="submit">{{ action }}</button>
  </form>
{% endblock %}
